<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initialscale=1.0">
 <title>Sul,Asa,Dar</title>
</head>
<body>
<h1><center>An online platform for booking students for physical education classes</center></h1>
<p>Welcome to our platform, designed to help students easily register for physical education classes. Whether you’re looking to stay fit, try a new sport, or just have fun, our classes cater to all skill levels. Please fill out the form below to reserve your spot in one of our upcoming sessions:</p>
<section> 
<ol>
  <li><label for="fname">Name:</label> 
  <input type="text" id="fname" name="fname" placeholder="type here"> 
  <br> 
  <li><label for="lname">Surname:</label> 
  <input type="text" id="lname" name="lname" placeholder="type here"> 

  <br> 
  <li><label for="segroup">Group:</label> 
<select id="segroup" name="segroup"> 
   <option value="SE-2301">SE-2301</option> 
   <option value="SE-2302">SE-2302</option> 
   <option value="SE-2303">SE-2303</option> 
   <option value="SE-2304">SE-2304</option> 
   <option value="SE-2305">SE-2305</option> 
   <option value="SE-2306">SE-2306</option> 
   <option value="SE-2307">SE-2307</option> 
   <option value="SE-2308">SE-2308</option> 
   <option value="SE-2309">SE-2309</option> 
   <option value="SE-2310">SE-2310</option> 
   <option value="SE-2311">SE-2311</option> 
   <option value="SE-2312">SE-2312</option> 
   <option value="SE-2313">SE-2313</option> 
   <option value="SE-2314">SE-2314</option> 
   <option value="SE-2315">SE-2315</option> 
   <option value="SE-2316">SE-2316</option> 
   <option value="SE-2317">SE-2317</option> 
   <option value="SE-2318">SE-2318</option> 
   <option value="SE-2319">SE-2319</option> 
   <option value="SE-2320">SE-2320</option> 
   <option value="SE-2321">SE-2321</option> 
   <option value="SE-2322">SE-2322</option> 
   <option value="SE-2323">SE-2323</option> 
   <option value="SE-2324">SE-2324</option> 
   <option value="SE-2325">SE-2325</option> 
   <option value="SE-2326">SE-2326</option> 
   <option value="SE-2327">SE-2327</option> 
   <option value="SE-2328">SE-2328</option> 
   <option value="SE-2329">SE-2329</option> 
   <option value="SE-2330">SE-2330</option> 
   <option value="SE-2331">SE-2331</option> 
   <option value="SE-2332">SE-2332</option> 
</select>
  <li><label for="segroup">Weekday:</label> 
<select id="weekday" name="weekday">
    <option value="monday">Monday</option>
    <option value="tuesday">Tuesday</option>
    <option value="wednesday">Wedbsday</option>
    <option value="thursday">Thursday</option>
    <option value="friday">Friday</option>
    <option value="saturday">Saturday</option>
    <option value="sunday">Sunday</option>
</select>
  <li><label for="segroup">Section:</label> 
<select id="section" name="section">
    <option value="section1">Armwrestling</option>
    <option value="section2">Football</option>
    <option value="section3">Basketball</option>
    <option value="section4">Volleyball</option>
    <option value="section5">Fitness</option>
</select>
  <li><label for="segroup">Time:</label>
<select id="time" name="time">
    <option value="10:00-11:50">10:00 - 11:50</option>
    <option value="12:00-13:50">12:00 - 13:50</option>
    <option value="14:00-15:50">14:00 - 15:50</option>
    <option value="16:00-17:50">16:00 - 17:50</option>
</select>
</ol>
<h2 style="background: yellow;">NOTES. You must choose only 1 block from the sports section schedule (day of the week, section name, time)</h2>
  <h3 style="font-size: 24px;">If you have any questions or suggestions, please write below:
</h3> 
  <br> 
  <textarea rows="4"> 
  </textarea> 
  <br> 
  <input type="reset"> 
  <input type="submit"> 
 </form>
<h4 style="font-size: 24px;">or contact us:</h4>

<table border=“1” width=“180” height=“100”>
  <tr>
    <td>Sultanbay.T</td>
    <td>Assanali.B</td>
    <td>Daryn.M</td>
  </tr>
  <tr>
    <td>87051110101</td>
    <td>87021234567</td>
    <td>87785553535</td>
  </tr>
  <tr>
    <td>sultan123@mail.ru</td>
    <td>assanali.old@bk.ru</td>
    <td>darynmmm@gmail.com</td>
  </tr>   
</table>
</body>
</html>
